
@{
    ViewBag.Title = "Index";
}

<h2 align="center">@ViewBag.cn</h2>
<h3 align="center">@ViewData["address"]</h3>
<hr />

<h4 align="center">
    <a href="http://localhost:61122/register">
        Register Now
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:61122/login">
        Login
    </a>

</h4>


